<!DOCTYPE html>
<html>
<head>
	<title>K BLOGGS</title>
</head>
<body>
	<header>
		<h1><a href="/">Klyde's Blog</a></h1> <h4><a href="https://klydey0202.pythonanywhere.com/admin/">admin</a></h4>
	</header>

	{% for post in posts %}
    	<article>
        	<time>published: {{ post.published_date }}</time>
        	<h2><a href="">{{ post.title }}</a></h2>
        	<p>{{ post.text|linebreaksbr }}</p>
    	</article>
	{% endfor %}

	<h4><a href="https://www.facebook.com/N.KFLV/">My Facebook</a></h4>

</body>
</html>